footer {
	clear: both;

	.container {
		padding: 0px 8%;
		text-align: center;
	}

	p {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $fontTitle;
		font-weight: 600;
		letter-spacing: 1px;
	}
}