footer {
	clear: both;
	background: #333;

	.container {
		padding: 10px 8%;
		text-align: center;
	}

	p {
		font-size: 12px;
		text-transform: uppercase;
		font-family: $fontTitle;
		letter-spacing: 1px;
		color: white;
		margin: 0;
	}
}