header {
	position: fixed;
	width: 100%;
	top: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.3), transparent);
	z-index: 5;
	transition: all 0.3s ease;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 8%;
	}

	&.sticky {
		background: white;
		box-shadow: 0 0 20px rgba(0,0,0,0.05);

		a {
			color: #333;
			transition: border-bottom 0s;

			&:hover,
			&:focus {
				color: #333;
				border-bottom: 3px solid #333;
				padding-bottom: 22px;
			}
		}

		h1 a {
			border: 1px solid #333;
			font-size: 14px;
			padding: 14px;
			transition: all 0.3s ease;

			&:hover,
			&:focus {
				background: #333;
				color: white;
				border-bottom: 1px solid #333;
				padding-bottom: 15px;
			}
		}
	}

	a {
		color: white;
		opacity: 0.8;

		&:hover,
		&:focus {
			opacity: 1;
			color: white;
		}
	}

	h1 {
		position: relative;
		margin: 0;
		line-height: 0;
		z-index: 5;

		a {
			text-transform: uppercase;
			border: 1px solid white;
			display: inline-block;
			font-size: 18px;
			letter-spacing: 3px;
			padding: 20px;

			&:hover,
			&:focus {
				background: white;
				color: #333;
			}
		}
	}
}

ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		padding: 0;
		position: relative;

		a {
			display: block;
			padding: 25px 10px;
			font-family: $fontTitle;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 1px;
		}
	}
}

li.has-submenu {
	&:hover {
		ul.subMenu {
			bottom: -190px;
			visibility: visible;
			opacity: 1;
		}
	}
}

ul.subMenu {
	position: absolute;
	left: 0;
	bottom: -90px;
	padding: 0;
	visibility: hidden;
	opacity: 0;
	width: auto;
	transition: all 0.3s ease;

	li {
		width: 100%;
		a {
			padding: 10px;
			background: rgba(0,0,0,0.3);
		}
	}

	.fa {
		display: none;
	}
}

header.sticky ul.subMenu {
	li {
		a {
			background: white;
			color: #333;
			transition: all 0.3s ease;

			&:hover,
			&:focus {
				border: none;
				padding: 10px;
			}
		}
	}
}

nav.show {
	li.has-submenu {
		&:hover {
			ul.subMenu {
				bottom: 0;
			}
		}
	}

	ul.subMenu {
		visibility: visible;
		opacity: 1;
		position: relative;
		bottom: 0;

		li {
			width: auto;

			a {
				background: transparent;
			}
		}

		span {
			display: none;
		}

		.fa {
			display: inline-block;
		}
	}

	#searchform {
		input {
			border: 1px solid #333;
			color: #333;
			background: white;
		}

		button .fa {
			color: #333;
		}
	}
}

.mobileMenu {
	display: none;
	position: relative;
	height: 25px;
	width: 35px;
	z-index: 5;

	span {
		position: absolute;
		width: 100%;
		height: 2px;
		background: white;
		transition: all 0.3s ease;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 11px;
		}

		&:nth-child(3) {
			bottom: 0;
		}
	}

	&.show {
		span {
			background: #333;

			&:nth-child(1) {
				transform: rotate(45deg);
				top: 10px;
			}

			&:nth-child(2) {
				width: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 10px;
			}
		}
	}
}

header #searchform {
	position: relative;

	input {
		padding: 5px 10px;
		width: 150px;
		font-size: 14px;
		background: rgba(255,255,255,0.2);
		border: 1px solid white;
		color: white;
		outline: none;
		transition: all 0.3s ease;
	}

	button {
		position: absolute;
		right: 3px;
		top: 3px;
		background: transparent;
		border: none;

		.fa {
			color: white;
		}
	}
}

header.sticky #searchform {
	input {
		border: 1px solid #333;
		color: #333;
		background: white;
	}

	button .fa {
		color: #333;
	}
}